@import '../../reponives.scss';
.Education{
    margin-top:9rem;
    margin-bottom: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    @include sm{
     margin-top:4rem;
     margin-bottom: 5rem;
     margin-right: auto;
     margin-left: auto;
    }
    .ct{
        font-size: 2rem;
        color: #6F6F6F;
        font-weight: normal;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 15px;
        text-transform: uppercase;
        @include sm{
            padding-bottom: 20px;
        }
    }
    .certificate-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.8rem;
        margin-bottom: 3rem;
        background: #000;
        border-radius: 50px;
        
        @include sm{
            margin-bottom: 5rem;
            padding: 1.6rem;
          
        }
        &:last-child{
            margin-bottom:0;
        }
        .certificate-t{
          display: flex;
          flex-direction: column;
          justify-content: center;
            h1{
                font-size: 1.5rem;
                font-weight: normal;
                @include sm{
                    font-size: 1.3rem;
                }
            }
            h3{
                font-size: 1rem;
                color: #B292FF;
                @include sm{
                    font-size: 0.8rem;
                }
            }
            p{
                font-size: 0.7rem;
                font-weight: normal;
                color: #6F6F6F;
                span{
                    color: #5FB9B0;
                    font-size: 1.5rem;
                }
            }
        }
        button{
            background: none;
            border: none;
            a{
                text-decoration: none;
                color: #5FB9B0;
                font-size: 1.2rem;
                cursor: pointer;
            }
            @include sm{
                font-size: 1rem;
                
                
            }
        }
    }
   
    .certificate-item::after,.certificate-item::before{
        
        content: "";
        position: absolute;
        left: 10%;
        background-image: conic-gradient( #B292FF,#5FB9B0,#B292FF,#5FB9B0,#B292FF);
        padding: 2rem;
        width:75%;
        height: 18%;
        z-index: -1;
        border-radius: 50px;
        @include sm{
            width: 70%;
            height: 8%;
        }
    }
    .certificate-item::before{
        filter: blur(1.3rem);
        opacity: 0.5;
    }
  
}