@import '../../reponives.scss';
.Education{
    margin-top:9rem;
    margin-bottom: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    @include sm{
     margin-top:4rem;
     margin-bottom: 5rem;
     margin-right: auto;
     margin-left: auto;
    }
    .ct{
        font-size: 2rem;
        color: #6F6F6F;
        font-weight: normal;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 15px;
        text-transform: uppercase;
        @include sm{
            padding-bottom: 20px;
        }
    }
    .certificate-item{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        margin-bottom: 2rem;
        border: 1px solid #b292ff;
        border-radius: 50px;
        @include sm{
            padding: 1.7rem;
        }
        &:last-child{
            margin-bottom:0;
        }
        .certificate-t{
          display: flex;
          flex-direction: column;
          justify-content: center;
            h1{
                font-size: 1.5rem;
                font-weight: normal;
                @include sm{
                    font-size: 1.3rem;
                }
            }
            h3{
                font-size: 1rem;
                color: #B292FF;
                @include sm{
                    font-size: 0.8rem;
                }
            }
            p{
                font-size: 0.7rem;
                font-weight: normal;
                color: #6F6F6F;
                span{
                    color: #5FB9B0;
                    font-size: 1.5rem;
                }
            }
        }
        button{
            background: none;
            border: none;
            color: #5FB9B0;
            font-size: 1.2rem;
            cursor: pointer;
            @include sm{
                font-size: 1rem;
                
                
            }
        }
    }
}