.navbar {
    display: flex;
    margin: 20px 0px;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
    transition:transform 3s ease;
    &:hover{
        transform: scale(0.9);
    }
    ul {
        display: flex;
        align-items: center;
        background-color: #211f23;
        border-radius: 100px;
        justify-content: center;
        list-style: none;
        gap: 20px;
        padding: 15px 15px;
        li{
            .active-link{
                color: white;
                font-weight: bold;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;               
                color: #B292FF;
                font-size: 20px;
                transition:transform 0.3s ease;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    .cta{
        margin-left: 1rem;
        a{
            text-decoration: none;
            font-size: 1.3rem;
            color: #B292FF;
            transition:transform 0.3s ease;
            &:hover{
                transform: scale(1.1);
            }
           

        }
        .active-link {
            font-weight: bold;
            color: white;
        }
    }
}
