@import '../../reponives.scss';
.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50rem;
    background-color: black;
    border:  2px solid #b292ff;
    width: 100%;
    height: 3rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    @include sm{
      gap: 7rem;
      
    }
    h1{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: #6F6F6F;
    }
    .icons{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 1rem 2rem;
      @include sm{
        gap: 1rem;
        padding: 1rem 1rem;
        
      }

    }
}