@import '../../reponives.scss';
.Experience2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem 0px;
    text-transform: capitalize;
    @include sm{
        margin: 5rem 0px; 
    }
    
    .Experience-text {
        color: #c8c8c8;
        text-align: center;
        span {
            font-size: 1.5rem;
        }
    }
    .experince-wapper {
        margin-top: 3rem;
        .experince-item {
            display: flex;
            align-items: start;
            justify-content: space-between;
            background: #131313;
            border-radius: 50px;
            width: 60rem;
            margin-bottom: 3rem;
            padding: 2rem;
            cursor: pointer;
            transition: transform 0.3s ease;
            @include sm{
                display: flex;
                flex-direction: column;
                width: auto;
               
            }
            &:hover {
                transform: scale(0.8);
            }
            &:last-child {
                margin-bottom: 0;
            }
            .left {
                padding: 1rem;
                gap: 2rem;
                h1 {
                    font-size: 1.3rem;
                    padding-bottom: 1rem;
                    @include sm{
                        text-align: center;
                    }
                }
                p{
                    color: #b292ff;
                    padding-bottom: 1rem;
                }
                h4{
                    font-size: 1.7rem;
                    font-weight: 400;
                    @include sm{
                       font-size: 1.5rem;
                       width: auto;
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;
                p{
                    color: #b292ff;
                    font-size: 1.5rem;
                    text-transform: capitalize;
                }
                img {
                    width: 550px;
                    height: 305px;
                    object-fit: cover;
                    border: 2px solid #b292ff;
                    border-radius: 10px;
                    @include sm{
                        width:25rem;
                        object-fit: cover;
                    }
                }
                button{
                    background-color: #b292ff;
                    padding: 1rem;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(0.8);
                    }
                    a{
                        text-decoration: none;
                        padding: 1rem;
                        font-size: 1.2rem;
                        color: white;
                    }

                }
            }
        }
        .experince-item:nth-child(3) .right img {
            height: 210px;
            object-fit: cover;
            @include sm{
                height: 162px;
            }
        }
    }
}
